.friendList {
    margin-bottom: 50px;
}

.item {
    width: 300px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(223, 223, 223, 0.308);
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 11px 10px 14px -8px rgba(0, 0, 0, 0.11);
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
}

.statusOnline {
    composes: status;
    background-color: rgba(114, 224, 110, 0.733);
}

.statusNotOnline {
    composes: status;
    background-color: rgba(255, 110, 110, 0.733);
}

.name {
    margin-left: 10px;
    font-size: 20px;
    opacity: 0.8;
}
